profiles{
        slurm{
                process.executor = 'slurm'
                process.memory = '20 GB'
                process.cpus = 20
        }
}

tower {
        enabled = true
        accessToken = 'eyJ0aWQiOiAxMDA4Nn0uN2Y4NjFiMzEwNWZiZTc3YTNjMTZiNzUxYWUyNjIyMGRiYmQ4NGU5OQ=='
}
  
singularity {
        enabled = true
        cacheDir = '/prism_data5/share/Singularity_cache/'
        autoMounts = true
}
